node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Generated ABIs for frontend
/virtuals-ui/src/lib/abis

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
out/

# Curve modelling
curve_modelling/curve_modelling.egg-info/
curve_modelling/__pycache__/
*_pycache__/    